@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
}

@layer base {

  html,
  body {
    @apply p-0 m-0 font-sans
  }

  * {
    @apply box-border
  }

  main {
    @apply w-full h-screen p-5 pt-10 md:p-20
  }

  section {
    @apply w-full p-5 md:p-20
  }

  a {
    @apply text-inherit
  }

  h2 {
    @apply text-7xl font-serif
  }

  h3 {
    @apply text-5xl font-serif font-extralight
  }

  h3::first-letter {
    @apply text-7xl
  }

  h4 {
    @apply text-3xl font-serif
  }

  h5 {
    @apply text-xl
  }

  p {
    @apply text-base font-sans font-light tracking-widest
  }

  input,
  textarea {
    @apply w-full p-3 font-sans border-b-2 border-b-yellow-600 text-base
  }

  input:hover,
  textarea:hover {
    @apply border border-b-yellow-600
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-black font-sans tracking-widest font-light text-base
  }

  form {
    @apply p-5 border-yellow-600 border flex flex-col gap-5 pb-16
  }

}


@layer components {

  .main__bg {
    @apply bg-no-repeat bg-center bg-cover
  }

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}